{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>repl.it</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
  </head>


<div class="header">

  <h2>Welcome <Code></Code></h2>
    <button>
    <a href="index.html"> Home </a>  
    </button>
 
    <button>
      <a href="resume.html">  Resume </a> 
    </button>

    <button>
    <a href="Projects.html"> Projects </a> 
    </button>
 
</div>

<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Summer 2020</h2>
      <center>
      <img class="mapicon" src="OHUB365M@M.png" alt="MandM"
      width="560" height="315" frameborder="0">
      </center>
      <h4>Welcome to the First M@M's Cohort</h4>
      
    <a class="embedly-card" data-card-via="https://embed.ly/code?url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DHA4wO051lUM" href="https://www.youtube.com/watch?v=HA4wO051lUM">OHUB365 - A Day in the Life of a Coding Bootcamp</a><script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>
    
      
     
    </div>
  </div>
  <div class="rightcolumn">
    <div class="card">
      <h2>About Me</h2>
      <div class="fakeimg" style="height:100px;">Image</div>
      <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
    </div>
    <div class="card">
      <h3>Popular Post</h3>
      <div id="buzzsprout-player-4743593"></div>
        <script src="https://www.buzzsprout.com/1244213/4743593-intro-to-software-development-the-journey.js?container_id=buzzsprout-player-4743593&player=small" type="text/javascript" charset="utf-8">
        </script>      
     
      <div class="fakeimg">Image</div>
    </div>
    <div class="card">
      <h3>Follow Me</h3>
      <p>Some text..</p>
    </div>
  </div>
 </div>

    <div class="footer">
  <h2>Footer</h2>
    </div>

    <body>  
    <script src="script.js"></script>
    </body>
</html>